*{
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.734);
  color: white;
}
.outerbox{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 95vh;
  border: 1px solid red;
  overflow: scroll;
  box-shadow: 10px 10px 8px red;
}
::-webkit-scrollbar {
  display: none;
}

.mid{
  margin-top: 2vh;
}


/* added later */

button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51,51,51,0.5);
    padding-bottom:0.5rem ;
  }

  *{
    margin: 0;padding: 0;
    /* background-color: black; */
}
.row{
    margin-left:10px ;
    color: white;
}
.imageresizing{
    box-sizing: border-box;
    margin-right: 15px;
    transition: transform 400ms;
    object-fit: contain  ;
    height: 150px;
}
.row_poster{
    
    /* overflow-y:hidden ;
    */
    overflow-x:auto;
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
/* to remove the scroll bar */
.row_poster::-webkit-scrollbar{
    display: none;
}

.imageresizing:hover{
    transform: scale(1.08);
    opacity: 1;
}