.nav{
    display: flex;
    width: 100%;
}
.left{
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: larger;
    flex-wrap: wrap;
}
.right{
    flex:0.7;
    border: 3px solid red;
} 
.navbar{
    display: flex;
    font-weight: 800;
    font-size: larger;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 0.3vw;
}

