.wrapper{
    display: flex;
    flex-direction: column;
}

.videoplayer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    border: 1px solid black;
    padding: 10px;
  }
.videoinfo{
    display: flex;
    justify-content: space-between;
}
.videocomments{
    display: flex;
    flex-direction: column;
}

  .videoinfo{
    display: flex;
  }
  .videoinfo > p{
    margin: 10px;
  }
form{
    padding: 5px;
    flex:1;
    display: flex;
}
form>input{
    flex: 1;
    border-radius: 30px ;
    height:4vh;
    color: black;

}
form>button{
    display: none;
}